<div class="col-sm-4 col-sm-offset-4 text-center padded">
  <blockquote>
    <h3><%= @question %></h3>
    <p>- You</p>
  </blockquote>
</div>
<div class="col-sm-4 col-sm-offset-4 text-center">
  <blockquote>
    <h3><%= @answer %></h3>
    <p>- Your coach</p>
  </blockquote>
</div>

<div class="col-sm-4 col-sm-offset-4 text-center">
<%= link_to 'Ask a new question', ask_path %>
</div>
