<div class="col-sm-4 col-sm-offset-4 text-center padded">
  <form  class="form" action="/answer">
    <div class="form-group">
      <label for="question">Speak to your coach</label>
      <input class="form-control" type="text" id="question" name="query" placeholder="what time is it?">
    </div>
     <button type="submit" class="btn btn-primary">Go on!</button>
  </form>
</div>
